body{
  background-color:#d2fafb;
}
h1{
  color: #64c4ed;
  font-family:serif;
}
h3{
  color: #66BFBF;
  left:inherit;
}
hr{
  color: grey;
  border-style: none;
  width: 5%;
  border-top-style: dotted;
  border-width:5px;

}

img{
  border-radius: 50%;
}

.k{
  margin-bottom: 0;
  padding-left: 10px;
}

.table{
  padding-left: 0;
}
.box{
  background-color: grey;
  padding: 20px 20px 0 20px;
  border: 2px solid #d3dee7;
  margin-bottom: 30px;
  box-shadow: 2px 10px 5px #000;
}
